            html 
            { 
                background-color: #222222;
                background: url('../img/CH bg - astral rift.png') no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-attachment: fixed;
            }
            .bg
            {
                width: 80%;
                overflow: auto;
                margin: auto;
            }
            .content_bg
            {
                background: rgba(255,255,255,.8);
                min-height: 1000px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            p{
                font-size: 20px;
            }
            .loading{
                background-image: url("../img/spinner.gif");
                background-repeat: no-repeat;
                background-position: center;
                display: none;
                height:150px;
                margin-left: auto;
                margin-right: auto;
            }
            .tableDiv
            {
                padding-top: 50px;
                display:block;
            }
            .dataTables_wrapper { font-size: 14px }
            .result
            {
                border-collapse: separate;
            }
            .input
            {
                float: left;
                font-size:20px;
            }
            .select-style {
                padding: 0;
                margin: 0;
                border: 1 px solid #ccc;
                width: 120px;
                border-radius: 1px;
                overflow: hidden;
                background-color: #fff;

                background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
            }

            .select-style select {
                padding: 2px 4px;
                width: 130%;
                border: none;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
            }

            .select-style select:focus {
                outline: none;
            }
            .itemLevel
            {
                width: 100px;
                
            }
            #changeInput
            {
                font-size: 12px;
                float: left;
                text-decoration: underline;
                color: blue;
                padding: 5px;
            }
            #changeInput:hover
            {
                cursor: pointer;
                cursor: hand;
            }
            #exhaustiveSearch
            {
                display: none;
            }
            .stats
            {
                float: right;
                font-family: serif;
                text-align: left;
                font-size: 24px;
                border: 1px solid;
                height: 150px;
                width: 300px;
                background: rgba(255,255,255,.3);
            }
            .button
            {
                font-size: 14px;
            }
            .info
            {
                padding-top: 10px;
                padding-left: 20px;
                padding-bottom: 10px;
                font-size:20px;
            }
            .spacer
            {
                clear:both;
            }
            .loadSave 
            {
                text-align:center;
                vertical-align: middle;
            }
            .vertHelper
            {
                height: 100%;
            }
            .disclaimer
            {
                font-size:16px;
                font-style: oblique;
            }
            .title
            {
                font-size: 24px;
                font-family: cursive;
                color: rgb(0, 153, 51);;
            }
            #baba
            {
                margin-left:20px;
            }
            #receivedImage
            {
                background-repeat: no-repeat; 
                display:none;
                width: 14px;
                height: 14px;
                float: left;
                margin-top: 7px;
            }
            #ri
            {
                max-height: 14px;
                max-width: 14px;
            }
            .dropt 
            {
                text-decoration:none;
                position:relative;
            }
            .dropt span 
            {
                display:none;
            }
            .dropt:hover span 
            {
                display:block;
                font-size: 14px;
                background: #ffffff; 
                z-index:6;
                border-style:solid; border-color:black; border-width:1px;
                position:fixed;
                overflow:hidden;
            }